@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    height: 100%;
}

.content-inicio{
    min-height: 100%;
    min-width: 100%;
    display: grid;  
    grid-template-rows: 700px 1000px 900px;
    background-image: linear-gradient(to right,#2ABFB0, #DBF22E, #2ABFB0);
}

/*CSS PARA PAGINA 1 DE SECCIÓN INICIO*/
.inicio-page-1{
    height: 100%;
    background-image: url('../Imagenes/inicio-page1-background.jpg');
    background-size: 100% 100%;
}

.inicio-page-1-container{   
    background: rgba(100, 100, 100, 0.6);
    height: 100%;   
    display: grid;  
    grid-template-rows: 80px 100px 80px;
}

.inicio-page-1-container h1,
.inicio-page-1-container h2,
.inicio-page-1-container span{ 
    margin-top: 8%;
    margin-left: 15%;
    height: 100%;
}

.inicio-page-1-container h1{
    color: white;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

.inicio-page-1-container h2{
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

.inicio-page-1-container p{
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

/*CSS PARA PAGINA 2 DE SECCIÓN  INICIO*/
.inicio-page-2{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
}

.inicio-page-2-main-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inicio-page-2-grid-container{
    display: grid;
    grid-template-rows: 4fr 1fr 2fr 1fr;
}

.inicio-page-2-image-container{
    text-align: center;
}

.inicio-page-2-image-container img{
    height: 200px;
    width: 350px;
}

.inicio-page-2-title-container h2{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}
.inicio-page-2-description-container{
    padding: 10px;
}

.inicio-page-2-description-container p{
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: lighter;
}

.inicio-page-2-button-container{
    margin-top: -25px;
}

.inicio-page-2-button-container h1,
.inicio-page-2-button-container a{
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}


/*CSS PARA PAGINA 2 DE SECCIÓN  INICIO*/
.inicio-page-3{
    height: 100%;
    width: 100%;
    display: grid;  
    grid-template-rows: 600px 100px 200px  ;
}

.inicio-page-3-caja-container{
    height: 100%;
}

.inicio-page-3-caja{
    border-radius: 2%;
    width: 90%;
    height: 95%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    background: rgba(10, 17, 38, 0.5);
    display: grid;
    grid-template-rows: repeat(3, 33%);
}

.inicio-page-3-bottom {
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%
}

.inicio-page-3-bottom-left{
    height: 100%;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.inicio-page-3-bottom-left h2{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}

.inicio-page-3-bottom-right{
    height: 100%;
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 20%;
}

.h2-clabe {
    letter-spacing: 5px;
}