@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    height: 100%;
}

.content-inicio{
    min-height: 100%;
    min-width: 100%;
    display: grid;  
    grid-template-rows: 700px 1000px;
}

/*CSS PARA PAGINA 1 DE SECCIÓN INICIO*/
.inicio-page-1{
    height: 100%;
    background-image: url('../Imagenes/inicio-page1-background.jpg');
    background-size: 100% 100%;
}

.inicio-page-1-container{   
    background: rgba(100, 100, 100, 0.6);
    height: 100%;   
    display: grid;  
    grid-template-rows: 80px 100px 80px;
}

.inicio-page-1-container h1,
.inicio-page-1-container h2,
.inicio-page-1-container span{ 
    margin-top: 8%;
    margin-left: 15%;
    height: 100%;
}

.inicio-page-1-container h1{
    color: white;
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

.inicio-page-1-container h2{
    color: white;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

.inicio-page-1-container p{
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 400;
    display: table-cell;
    vertical-align: bottom;
}

.inicio-page-2{
    height: 100%;
    min-width: 100%;
    background-color: red;
}
