@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    height: 100%;
}

.container-fluid{
    height: 100%;
    
}

.header{
    height: 20%;
    border: solid red;
}

.logo-container img{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    border: solid blueviolet;
}