@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#body, #html{
    margin: 0; 
    height: 100%; 
    background-color: gray;
    overflow: scroll;
    scrollbar-width: thin;
}

.full-main{
    height: 100%;
    border-radius: 25px;
    display: grid;  
    grid-template-rows: 135px auto 160px;
}

.header{
    height: 100%;
    background-color: black;
    display: grid;  
    grid-template-columns: 33% auto;
}

.header-left{
    display: grid;  
    grid-template-columns: 33% 66%;
}

.logo-container{
     text-align: right;
     padding-top: 20%;
}   

.logo-img{
    max-height: 80%;
    max-width: 50% !important;
}

.h1-title{
    margin-top: 20%;
    margin-left: 3%;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
}

.header-right{
    height: 100%;
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%; 
}

.link-nav{
    text-align: center;
    display: block;
    padding-top: 20%;
}

.link-nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    color: white !important;
    font-weight: 200;
    cursor: pointer; 
}

.content{
    height: 100%;
}

#frame-inicio{
    height: 100%;
    display: flex;
    padding: 0;
}

#frame-noticias{
    height: 100%;
    display: none;
    padding: 0;
}

#frame-nosotros{
    height: 100%;
    display: none;
    padding: 0;
}

#frame-participa{
    height: 100%;
    display: none;
    padding: 0;
}
 
/*CSS PARA PAGINA FOOTER DE SECCIÓN NOTICIAS*/
.footer{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #0A1126;
}

.footer-left{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-top: 3%;
}

.footer-left h1{
    color: white;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-weight: 500;
    font-style: bold;
}

.footer-left h2{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
}

.footer-right{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.footer-right-row{
    padding-top: 5%;
    height: 100%;
    display: grid;
    grid-template-columns: 60px 1fr;
}   

.footer-image-container{
    text-align: center;
    height: 100%;
}

.footer-right-row img{
    height: 40px;
    width: 40px;
    text-align: right;
}

.footer-right-row h2{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
}