@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body, html{
    height: 100%;
}

.container-fluid{
    height: 100%;
    
}

.header{
    height: 20%;
    background-color: black;
}

.logo-container{
    height: 100%;
}

.logo-container img{
    display:block;
    margin:auto;
    margin-top: 10px;
    max-width: 100%;
    max-height: 100%;
}

.site-name{
     display: flex;
     flex-direction: row;
     align-items: center;
}

.h1-title{
    color: white;
}

.links-nav-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-nav a{
    color: white;
}

.main{
    height: 100%;
    border: solid blueviolet;
}