@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body, html{
    height: 100%;
    background:#40E0D0 !important;
}

.content-noticias{
    height: 100%;
    display: grid;  
    grid-template-rows: 570px 900px 1150px 570px 1000px;
}   

/*CSS PARA PAGINA 1 DE SECCIÓN NOTICIAS*/
.noticias-page-1{
    height: 100%;
    width: 100%;
    display: block;
}

.caja-page-1{
    width: 85%;
    height: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    background: #008080;
    display: grid;
    grid-template-rows: repeat(3, 33%);
}

.caja-page-1-title{
    display: table-cell;
    display: table;
}

.caja-page-1-title h1{
    color: white;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: 700;
    font-style: bold;
    display: table-cell;
    vertical-align: bottom;
}

.caja-page-1-description{
    display: table-cell;
    display: table;
}

.caja-page-1-description p{
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
}

.caja-page-1-buttons{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

.caja-page-1-buttons-left{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.jugador-img-container{
    text-align: center;
}

.jugador-img-container img{
    max-height: 80%;
    max-width: 25% !important;
}

.jugador-text-container{
    height: 100%;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -5%;
}

.jugador-text-container p{
    word-break: break-all;
    color: white;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.caja-page-1-buttons-right{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.caja-page-1-buttons-compartir-container{
    height: 100%;
    text-align: center;
    padding-top: 30%;
}

.caja-page-1-buttons-comentar-container{
    height: 100%;
    text-align: center;
    padding-top: 30%;
}

.page-1-button{
    color: white !important;
    font-size: 16px;
    padding: 5px 55px ;
    background: rgb(37, 170, 130);
    border-radius:100px;
}

/*CSS PARA PAGINA 2 DE SECCIÓN NOTICIAS*/
.noticias-page-2{
    background: url("../Imagenes/StockCake-Gardening Together Indoors_1726973354.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

/*CSS PARA PAGINA 3 DE SECCIÓN NOTICIAS*/
.noticias-page-3{
    height: 100%;
    width: 100%;
    display: block;
}

.caja-page-3{
    width: 85%;
    height: 98%;
    margin-right: auto;
    margin-left: auto;
    background: #008080;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.caja-page-3 p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
}

/*CSS PARA PAGINA 4 DE SECCIÓN NOTICIAS*/
.noticias-page-4{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.noticias-page-4-left{
    height: 100%;
    text-align: center;
    padding-top: 3%;
}

.noticias-page-4-right{
    padding-top: 3%;
    height: 100%;
}

.noticias-page-4-formulario{
    width: 86%;
}

.noticias-page-4-formulario input{
    display: block;
}

.noticias-page-4-formulario input[type="text"],
.noticias-page-4-formulario input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 3px;
    border: 1px solid #008080;
    background: #008080;
    font-family: Arial, Helvetica, sans-serif Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: #40E0D0;
}

.noticias-page-4-formulario textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #008080;
    background: #008080;
    font-family: Arial, Helvetica, sans-serif Impact, 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: #40E0D0;
}

.noticias-page-4-formulario textarea{
    height: 250px;
    min-height: 200px;
    max-height: 600px;
    min-width: 100%;
    max-width: 100%;
}


.noticias-page-4-formulario input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background:rgb(229, 248, 62);
    border: 1px solid #4fb560;
    color:  #40E0D0;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}

.noticias-page-4-formulario input[type="submit"]:hover{
    background: rgb(229, 248, 62);
    color: #40E0D0;
}

/*CSS PARA PAGINA 5 DE SECCIÓN NOTICIAS*/
.noticias-page-5{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 20px 40px;
}

.noticias-page-5-main-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.noticias-page-5-grid-container{
    display: grid;
    grid-template-rows: 4fr 1fr 2fr 1fr;
}

.noticias-page-5-image-container{
    text-align: center;
}

.noticias-page-5-image-container img{
    height: 200px;
    width: 350px;
}

.noticias-page-5-title-container h2{
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}
.noticias-page-5-description-container{
    padding: 10px;
}

.noticias-page-5-description-container p{
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: lighter;
}

.noticias-page-5-button-container{
    margin-top: -25px;
}

.noticias-page-5-button-container h1,
.noticias-page-5-button-container a{
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: lighter;
}