*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
body{
    background:#40E0D0;
    font-family: Arial, Helvetica, sans-serif;
}

.cajaUnoPadre{
    width: 90%;
    background: #008080;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.cajaUnoPadre h1{
color: white;
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
.cajaUnoPadre p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.cajaUnoPadre img{
    width: 100px;
    justify-content: first baseline;
}
a{
    text-decoration: none;
    color: white;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
}
/*Botones*/
.medium{
    font-size: 16px;
    padding: 15px 20px ;
}
.azul{
    background: rgb(37, 170, 130);
}

.border-radius{
    border-radius:100px ;  
}

.cajaDosPadre{
    width: 90%;
    background: #008080;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.cajaDosPadre img{
    width: 90%;
}
.cajaDosPadre p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.formulario{
    background:#40E0D0;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 25px;
}
.formulario input{
    display: block;
}
.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #008080;
    background: #008080;
    font-family: Arial, Helvetica, sans-serif Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    color: #40E0D0;
}
.formulario textarea{
    min-height: 120px;
    max-height: 300px;
    min-width: 100%;
    max-width: 100%;
}
.formulario input[type="text"]:focus
.formulario input[type="email"] :focus
.formulario textarea:focus{
   border: 2px solid #4fb560; 
}
.formulario input[type="submit"]{
    width: 200px;
    margin: 0 auto;
    background:rgb(229, 248, 62);
    border: 1px solid #4fb560;
    color:  #40E0D0;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
}
.formulario input[type="submit"]:hover{
background: rgb(229, 248, 62);
color: #40E0D0;
}

.correo .cajaFondo p{
    background:rgb(229, 248, 62);
    color:#40E0D0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.cajaTresPadre {
    display: flex;
    width: 100%;
    background:#008080;
    flex-direction: row;
    justify-content: space-between; /* Espacio entre las cajas */
    padding: 10px; /* Espacio dentro del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.caja {
    display: flex;
    flex-direction: column; /* Cambia a columna si quieres apilar contenido */
    flex: 1; /* Hace que las cajas ocupen el mismo espacio */
    margin: 0 5px; /* Espacio lateral entre las cajas */
    text-align: center;
    background-color: #008080; /* Color de fondo para visualización */
    padding: 20px; /* Espacio interno */
    
}
.cajaTresPadre .caja img{
    width: 350px;
    height: 280px;
}
h2{
    color: black;
}
.caja p{
    color: white;

}
h1{
    color: rgb(37, 35, 35);


}
.cajaCuatroPadre {
    display: flex;
    width: 100%;
    background: #008080;
    flex-direction: row;
    justify-content: space-between; /* Espacio entre las cajas */
    padding: 10px; /* Espacio dentro del contenedor */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.caja {
    display: flex;
    flex-direction: column; /* Cambia a columna si quieres apilar contenido */
    flex: 1; /* Hace que las cajas ocupen el mismo espacio */
    margin: 0 5px; /* Espacio lateral entre las cajas */
    text-align: center;
    background-color: #008080; /* Color de fondo para visualización */
    padding: 20px; /* Espacio interno */
    
}
.cajaCuatroPadre .caja img{
    width: 350px;
    height: 280px;
}
h2{
    color: black;
}
.caja p{
    color: white;

}
h1{
    color: rgb(37, 35, 35);


}